.faq_img {
    width: 60%;
    height: 40%;
    margin-left: 21rem;
    margin-top: 4rem;
}

.faq_title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.faq_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2rem;
}

.faq_cards {
    padding: 2rem;
}

.faq_qtn {
    color: dodgerblue;
}

/* =====MEDIA QUERIES (MEDIUM DEVICES)====== */

@media screen and (max-width: 1024px) {}


/* =====MEDIA QUERIES (SMALL DEVICES)====== */

@media screen and (max-width: 600px) {}