/* #header {
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
} */

.input_area{
  display: flex;
  flex-direction: column;
  height: 340px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 20px 30px rgb(0 0 0 / 15%);
}

.drag-drop{
  position: relative;
  display: grid;
  height: 300%;
  text-align: center;
  place-items: center;
  background: white;
  border: 2px dashed blue;
  border-radius: 10px;
}

.file-drop {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  left: 0px;
  cursor: pointer;
  z-index: 2;
  color: #fff;
  border: 0;
}

.drop-img{
  position: absolute!important;
  display: flex!important;
  flex-direction: column;
}

p{
  font-size: 12px;
}

button{
  width: 100%;
}


/* =====MEDIA QUERIES (MEDIUM DEVICES)====== */

@media screen and (max-width: 1024px) {
    #header {
        height: 68vh;
      }
}


/* =====MEDIA QUERIES (SMALL DEVICES)====== */

@media screen and (max-width: 600px) { 
    #header {
    height: 100vh;
  }

}