@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 

body {
    font-family: 'Poppins', sans-serif;
}
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }

 html {
    scroll-behavior: smooth;
}

 ::-webkit-scrollbar{
    display: none;
}

:root {
    --transition: all 400ms ease;

    --container-width-lg: 75%;
   --container-width-md: 86%;
   --container-width-sm: 96%;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}